@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

 /* For Header Image */
 .header_img{
  background-image: url(assets/topbar-desktop.png);
  background-repeat: no-repeat;
}
.section-padding{
  padding: 0%;
}
.navbar .getstarted {
	background: #106eea;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.nav-link{
	margin-left: 50px;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.btnLink{
  border: 2px solid black;
  border-radius: 20px;
  margin-left: 50px;
}

/* Hero Section  */

.hero_bg{
  background:#F5F8FF;
}
.btn_pink{
  border: 4px solid #EF8094;
  border-radius: 20px;
  font-weight: 500;
}
.hero_image{
  display: flex;
    justify-content: space-evenly;
}

.heroImages {
  display: grid;
  width: 65%;
  aspect-ratio: 2/1;
  /* padding: 2rem; */
}

.heroImages>img {
  grid-area: 1/1;
  width: 75%;
  aspect-ratio: 1/1;
  object-fit: cover;
  /* border-radius: 50% 0 0 0; */
  z-index: 1;
}

.heroImages>img:nth-child(2) {
  /* margin: -12%; */
  object-fit: contain;
  object-position: right;
  aspect-ratio: 1/1;
  place-self: end;
  /* border-radius: 0 50% 0 0; */
  z-index: 0;
}
/* Hero Text */
.about-text{
   padding:20px;
   margin: 20% 0 0% 50px;
}
.text1{
  font-weight: 500;
  font-size: 2.5rem;
}
.text2{
  font-weight:400;
  font-size:13px;
} 

/* Section Part */
.section_container{
  width: 70%;
}

.cropped2 {
  border-radius:96% 0 0 0;
  max-width: 85%;
  /* max-height: 100%;
  object-position: -63px 0px;
  object-fit: cover; */
}
.cropped3{
  border-radius:0 0 55% 0;
  max-width: 85%;
  /* height: 100%; 
   object-fit: cover;
  object-position: 62px 0px;*/
}
.text_row_1,.text_row_2,.text_row_3,.img_row_1,.img_row_3,.img_row_2{
  text-align: start;
}


/* For overlap image */

.work_container {
  position: relative;
  width: 400px;
  height: 400px;
}

.work_img1 {
  position: absolute;
  z-index: 1;
  max-width: 85%;
  bottom: 23%;
  left: 9%;
  box-shadow: 25px 40px rgb(118 67 67 / 8%);
}

.work_art_img1 {
  position: absolute;
  z-index: 0;
  max-width: 85%;
  top: 0;
  left: 50%;
}

/* Footer */
.footer{
  background-color: #ecedf142;
  border: 1px solid #e7e3e3;
  /* position: absolute; */
  display:flex;
  margin: 1%;
  padding: 1%;
}
 .footer_logo{
  width: 24%;
  margin-left: 5%;
}
.social_logo{
  margin-left: -5%;
}


/* For large screens like Desktop  */
@media screen and (min-width: 1025px) and (max-width: 1200px)  {
  .footer_logo{
    margin-top: 1%;
  }
}


/* For small screens like Laptop */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar-nav {
		text-align: center;
	}
  .btnLink{
    border: none;
  }
  /* Hero Text */
  .about-text{
    padding:20px;
    margin:0;
  }
.text1{
 font-weight: 500;
 font-size: 2rem;
}
.text2{
 font-weight:400;
 font-size:13px;
} 

.work_img1 {
  position: absolute;
  z-index: 1;
  max-width: 70%;
  bottom: 29%;
  left: 52%;
  box-shadow: 25px 40px rgb(118 67 67 / 8%);
}
.work_art_img1 {
  position: absolute;
  z-index: 0;
  max-width: 70%;
  top: 29px;
  left: 83%;
}

  .text_row_1,.text_row_3,.img_row_1,.img_row_3,.img_row_2{
    text-align: center;
  }
  .text_row_2{
    text-align: start;
  }
  .footer_logo{
    margin-top: 2.5%;
    width: 33%;
  }
}

/* For Tablet */
@media only screen and (min-width:481px) and (max-width: 768px) {
   /* For Header Image */
 .header_img{
  background-image: url(assets/topbar-tablet.png);
  background-repeat: no-repeat;
  }
	.navbar-nav {
		text-align: center;
	}
  .btnLink{
    border: none;
  }
  .hero_image{
    margin:-30% 0 0 20%;
    display:'flex';
    justify-content: flex-start;
  }
  .heroImages {
    display: grid;
    width: 75%;
    aspect-ratio: 0/1;
    border: none;
  }
  
  .heroImages>img {
    grid-area: 2/1;
    width: 118%;
    aspect-ratio: 2/1;
    object-fit: cover;
    z-index: 1;
  }
  
.heroImages>img:nth-child(2){
  display:none;
  }

/* Hero Text */
.about-text{
  margin:0;
  padding:10px;
  width:50%;
}
.text1{
 font-weight: 600;
 font-size: 2.5rem;
}
.text2{
 font-weight:400;
 font-size:15px;
} 
.btn_pink {
  border: 4px solid #EF8094;
  border-radius: 20px;
  font-weight: 500;
  font-size: 20px;
}
  /* .cropped3 {
    max-width: 90%;
  }
  .cropped2 {
    max-width: 90%;
  } */
  .text_row_1,.text_row_2,.text_row_3,.img_row_1,.img_row_3,.img_row_2{
    text-align: center;
  }
/* Footer */
  .footer_logo{
    width: 60%;
    margin-top: 4%;
    margin-left: 15%;
  }
}

/* For Mobile */
@media only screen and (min-width:310px) and (max-width: 480px) {
  /* For Header Image */
.header_img{
 background-image: url(assets/topbar-mobile.png);
 background-repeat: no-repeat;
 }
 .navbar-nav {
   text-align: center;
 }
 .btnLink{
   border: none;
 }
 .hero_image{
  justify-content:'unset';
}
.about-text{
  margin:0;
  padding:0;
}
.heroImages {
  display: grid;
  width: 75%;
  aspect-ratio: 2/1;
  border: none;
  /* padding: 2rem; */
}

.heroImages>img {
  grid-area: 12/1;
  width: 118%;
  aspect-ratio: 2/1;
  object-fit: cover;
  /* border-radius: 50% 0 0 0; */
  z-index: 1;
}

.heroImages>img:nth-child(2){
display:none;
}
.text1 {
  font-weight: 600;
  font-size: 2.5rem;
}
.text2{
  font-size: 20px;
}
/* Section Part */
 .section_container{
   width: 100%;
 }
.work_art_img1
{
  display: none;
}
.work_img1 {
  position: absolute;
  max-width: 100%;
  bottom: 0px;
  left: 85px;
  box-shadow: none;
}
.work_container{
  width:60%;
  height: 200px;
}

 /* .cropped3 {
  max-width: 100%;
  object-position: 25px 0px;
}
.cropped2 {
  max-width: 100%;
  object-position: -43px 0px;
} */
.text_row_1,.text_row_2,.text_row_3,.img_row_1,.img_row_3,.img_row_2{
  text-align: center;
}

 /* Footer */
 .footer_logo{
   width: 60%;
   margin-top: 4%;
   margin-left: 15%;
 }
}